.neumorphism {
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 150px;
    left: 0;
    top: 0;
    border-radius: 50px;
    background-color: #e0e0e0;
    box-shadow: 15px 15px 21px #d3d3d6,
    -15px -15px 21px #fff;
}

.neumorphism:active {
    background: #e0e0e0;
    box-shadow: inset 15px 15px 21px #d3d3d6,
    inset -15px -15px 21px #fff;
}